
body {
    width: 1020px;
    margin: 0;
    font-family: 'Lato', sans-serif;  
    margin: auto;  
}
section {
    margin:0;
    padding:0;
}
.header {
    width: 1020px;
    /*height: 89px;*/
    background-color: #2d303a;
}

.header__content {
    display: flex;
    padding-left: 40px;
    padding-top: 34px;
    justify-content: space-between;
}
.header__navigation {
    
    display: flex;
    width: 370px;
    justify-content: space-between;
    margin-right: 40px;
    
}
.header__navigation a {
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    margin-top: 13px;
}

.header__navigation__link:hover {
    color:#f06c64;
    transition: .3s;
}

.header__navigation--selected {
    color: #f06c64;
    
}

.header__bottom {
    height: 6px;
    background-color: #323746;
    margin-top: 31px;
    z-index: 5;
    position: relative;
}

.sticky-header {
    position: fixed;
    top: 0;
    height: 40px;
    z-index: 6;
}

.sticky-content {
    padding-top: 6px;
}
.sticky-bottom {
    margin-top: 5px;
}

        /*Slider*/
.slider {
    
    background-color: #f06c64;
}
.slider-content {
    display: inline-flex;
    width: 1020px;
    height: 483px;
    padding: 53px 0px 58px;
    align-items: center;
   
}

.slider__scroll   {
    cursor: pointer;
    height:27px;
 }

 .slider__scroll-left {
    margin-left: 42px;
 }

 .slider__scroll-right {
    margin-right: 40px;
 }

 .iphone__vertical, .iphone__vertical__shadow, .iphone__horizontal, .iphone__horizontal__shadow, .iphone__vertical__screen,.iphone__horizontal__screen {
     position: relative;
 }

 .iphone-vertical {    
    margin-left: 52px;
    height: 483px;
    
 }

 .iphone-horizontal {
   height: 218px;
   margin-top: 5px;
   
 }

 .iphone__vertical {
    z-index: 2;
    bottom: 487px;
 }

 .iphone__vertical__screen {
    height: 333px;
    width: 188.5px;
    z-index:5;
    bottom: 885px;
    left: 16px;
    background-image: url(./assets/img/bg-vertical.png);
 }  

 .iphone__vertical__shadow {
    z-index: 1;
    left: 2px;
 }

 .iphone__horizontal {
    transform: rotate(90deg);
    bottom: 477px;
    z-index: 2;
    padding-bottom: 194.5px;
    
    
 }

 .iphone__horizontal__shadow {
    z-index: 1;
    left: -22px;
    bottom: 13px;
    
 }

.iphone__horizontal__screen {
    height: 334px;
    width: 188.5px;
    z-index:5;
    bottom: 974px;
    background-image: url(./assets/img/bg-horizontal.png);
    transform: rotate(90deg);
    left: 111px;
    
 }

.bg-bottom {
    width: 1020px;
    height: 7.5px;
    background-color: #ea676b;
}

/*services*/
.services {
    width: 1020px;
    background-color: #f2f2f2;
    
}
.heading {
    margin:0px 40px 0px;
    padding-top: 68px;
    
}

.title {
    font-size: 30px;
    line-height: 18px;    
    font-weight: 900;
    text-align: left;
    margin-top: 14px;
}

.services__title {
    color: #666d89;
}

.description--darker {
    width: 940px;
    height: 33px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
}

.layout-3-column {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas: "a a a";
   
    margin:55px 40px 64px;
    row-gap:32px;
    column-gap:20px;    
}

.tool {
    display:grid;
    grid-template-columns: 60px 220px;
    grid-template-areas: 
    "i t "
    "i d ";
    column-gap:20px;
    row-gap:10px;
    grid-template-rows: auto auto;
    
    
}

.tool__img {
    grid-area: i;
}

.tool__title {
    grid-area: t;
    margin:0;
    width: 219px;
    font-size: 18px;
    line-height: 18px;    
    font-weight: 900;
    text-align: left;
}
.tool__title--on-white-bg {
    color: #666d89;
}

.description {
  /*  height: 72px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.services__description {
    padding-top: 3px;
}

.tool__description {
    grid-area: d;
    font-size: 12px;
    line-height: 19px;    
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tool__description--on-white-bg {
    color: #767e9e;
}



.services__bg-bottom {
    height: 6px;
    background-color: #ffffff;
}

/*Parfolio*/ 
.portfolio {
    width: 1020px;
   
    background-color: #2d303a;
}

.portfolio__navigation {
    display:flex;
}

.portfolio__title {
    color: #666d89;
}

.description__portfolio {
    height:35px;
    margin-top: 27px;
}

.description--on-dark-bg {
    color: #767e9e;
    padding:0px;
    margin:0px;
    

}
.layout-4-column {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    margin:19px 40px 68px;
    row-gap:20px;
    column-gap:20px;    
}

.navigation__link {
    display: block;    
    height: 20px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    text-decoration: none;
    margin-right: 9px;    
}

.navigation__link:hover {
    background-color: #666d89;
    transition: .3s;
}

.navigation__link > div{
    text-align: center;
}

.link--selected {
    border: 1px solid #c5c5c5;
    color:#c5c5c5;
}

.navigation__link--all {
    width: 28px;
}

.navigation__link--web-design {
    width: 77px;
}

.navigation__link--graphic {
    width: 92px;
}

.navigation__link--artwork {
    width: 56px;
}


.portfolio__img {
    width: 220px;
    height: 187px;
}

.img__1 {
    background-image: url(./assets/img/portfolio/1.svg);
    background-position: center;
}

.img__2 {    
    background-image: url(./assets/img/portfolio/2.svg);
    background-position: center;
}

.img__3 {    
    background-image: url(./assets/img/portfolio/3.svg);
    background-position: center;
}

.img__4 {    
    background-image: url(./assets/img/portfolio/4.svg);
    background-position: center;
}

.img__5 {    
    background-image: url(./assets/img/portfolio/5.svg);
    background-position: center;
}

.img__6 {    
    background-image: url(./assets/img/portfolio/6.svg);
    background-position: center;
}

.img__7 {    
    background-image: url(./assets/img/portfolio/7.svg);
    background-position: center;
}

.img__8 {    
    background-image: url(./assets/img/portfolio/8.svg);
    background-position: center;
}

.img__9 {    
    background-image: url(./assets/img/portfolio/9.svg);
    background-position: center;
}

.img__10 {    
    background-image: url(./assets/img/portfolio/10.svg);
    background-position: center;
}

.img__11 {    
    background-image: url(./assets/img/portfolio/11.svg);
    background-position: center;
}

.img__12 {    
    background-image: url(./assets/img/portfolio/12.svg);
    background-position: center;
}

.portfolio__bg-bottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

/*About Us */
.about-us {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
}

.description__about-us {
    height: 35px;
    margin-top: 22px;
}

.layout__employee {
    margin: 50px 40px 64px;
}

.employee__photo {
    width: 300px;
    height: 300px;
    background-color: #464b5e;
    
}

.photo-AdamJensen {
    
    background-image: url(./assets/img/About-Us/AdamJensen.png);
    background-position: center;
}
.photo-DesmondMiles {
    
    background-image: url(./assets/img/About-Us/DesmonMiles.png);
    background-position: center;
}
.photo-ScolaraVisari {
    
    background-image: url(./assets/img/About-Us/ScalaraVisari.png);
    background-position: center;
}

.employee__contact__link {
    display: inline-block;
    margin-top: 12.5px;
    padding-right: 4px;
    
}

.employee__contact__link >div {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.employee__fb {
    
   /* border: 1px solid #666d89;*/
    background-image: url(./assets/img/About-Us/contacts/facebook.png);
    
    
}

.employee__mail {
    background-image: url(./assets/img/About-Us/contacts/google+.png);
}

.employee__tw {
    background-image: url(./assets/img/About-Us/contacts/twitter.png);
}

.employee__li {
    background-image: url(./assets/img/About-Us/contacts/linkedin.png);
}

.about-us__bg-bottom {
    height: 6px;
    background-color: #ffffff;
}

/*Get a Quote */

.get-a-quote {
    width: 1020px;
    background-color: #f06c64;
    margin-top: 4px;
}



.title--on-colored-bg {
    color: #f0d8d9;
}

.get-a-quote__title {
    
}



.description__get-a-quote {
    margin-top: 23px;
    
}

.description--on-colored-bg {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.layout-2-column {

    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: "a a";
   
    margin: 46px 0px 41px;
    row-gap:26px;
    column-gap:20px;    
}

.message-error {
    visibility: hidden;
}
.feedback-form__input {
    height: 36px;
    margin-bottom: 18px;
}

.feedback__input {
    width: 619px;
    height: 36px;
    border-radius: 5x;
    border: 0;
    background-color: #d6564f;
    
}

.feedback-area {
    width: 615px;
    height: 198px;
    resize: none;
}

::placeholder {
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
    text-align: left;
    font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-family: "Lato";
font-weight: 400;
text-align: left;   
}

.contact__info {
    display:flex;
    flex-direction:column;
    text-decoration: none;
}

.contact__description {
    width: 300px;
    height: 100px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.tool__title--on-colored-bg {
    color: #f0d8d9;
}


.tool__description--on-colored-bg {
    color: #f0d8d9;
    line-height: 20px;
}

.contact__info {
    margin-top: 17px;;
}

.contact__info__link {
    height: auto;
    text-decoration: none;
    display: block;
    padding-bottom: 2px;
}

.get-a-quote__bg-bottom {
    height: 6px;
    background-color: #ea676b;
}

.form-button {

}

/*Footer*/
.footer__content {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-left: 42px;
    margin-top: 28px;
}

.footer__navigation {
    margin-top:22px;
    margin-right: 40px;
}

.footer__navigation > a{
    padding-left: 3.5px;
}


