
body {
    width: 1020px;
    margin: 0;
    font-family: 'Lato', sans-serif;    
}

.header {
    
    height: 89px;
    background-color: #2d303a;
}

.header__bottom {
    height: 6px;
    background-color: #323746;
    margin-top: 50px;
}

.slider {
    
    background-color: #f06c64;
}
.slider-content {
    display: inline-flex;
    width: 1020px;
    height: 600px;
    align-items: center;
   /* position: relative;*/
}

.slider__scroll   {
        width:16;
        height:27px;
 }

 .slider__scroll-left {
    margin-left: 40px;
 }

 .slider__scroll-right {
    margin-right: 40px;
 }

 .iphone__vertical, .iphone__vertical__shadow, .iphone__horizontal, .iphone__horizontal__shadow, .iphone__vertical__screen,.iphone__horizontal__screen {
     position: relative;
 }

 .iphone-vertical {
    
    margin-top: -183px;
    margin-left:55px ;
 }

 .iphone-horizontal {
    margin-top: 55px;
 }

 .iphone__vertical {
    z-index: 2;
 }

 .iphone__vertical__screen {
    height: 333px;
    width: 188.5px;
    z-index:5;
    bottom: 398px;
    left: 16px;
    background-image: url(./img/bg-vertical.png);
 }  

 .iphone__vertical__shadow {
    z-index: 1;
    top: 487px;
    left: 2px;
 }

 .iphone__horizontal {
    transform: rotate(90deg);
  /*  margin-left: 75px;*/
    z-index: 2;
    padding-bottom: 194.5px;
    
    
 }

 .iphone__horizontal__shadow {
    z-index: 1;
    top: 464px;
    left: -22px;
    
 }

.iphone__horizontal__screen {
    height: 334px;
    width: 188.5px;
    z-index:5;
    bottom: 398px;
    background-image: url(./img/bg-horizontal.png);
    transform: rotate(90deg);
    left: 111px;
    top: -497px;
 }

.bg-bottom {
    width: 1020px;
    height: 15px;
    background-color: #ea676b;
}

/*services*/
.services__heading {
    margin:65px 40px 35px;
}

.services__title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.services__description {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
}

.layout-3-column {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas: "a a a";
   
    margin:55px 40px 73px;
    row-gap:26px;
    column-gap:20px;
    
    
}

.tool {
    display:grid;
    grid-template-columns: 60px 220px;
    grid-template-areas: 
    "i t "
    "i d ";
    column-gap:20px;
    row-gap:10px;
    grid-template-rows: auto auto;
    
    
}

.tool__img {
    grid-area: i;
}

.tool__title {
    grid-area: t;
    margin:0;
    width: 219px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.description {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tool__description {
    grid-area: d;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}